.right {
    align-self: end !important;
    background: #0084ff;
    color: #fff;
}

.left {

    align-self: start !important;
    background: #eee;
    float: left;
}

.bubble {
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    max-width: 20vw;
    align-self: end;
}

.requestBody{
background:  #272822;
}
.invalid{
    background: #ff8080;
    border: 2px solid #ff1a1a;
}
