body
{
	margin-left:20%;
	margin-right:20%;
	text-align: justify;
}

article header
{
	text-align: center;
}

article header h2
{
	margin: 0px;
}

article header ul
{
	position: relative;
	right: 2%;
	margin: 0px;
}

article section section figure
{
	margin-bottom: 10%;
}

.ignore-margins {
	margin-left:-25%;
	margin-right:-25%;
}

img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 100%;
	height: auto;
}