{
  "openapi": "3.0.1",
  "info": {
    "title": "wade-rat-mihtei-rezciopan WADE-RAT|Mihtei-Rezciopan - Test API",
    "description": "### Simple test API for the RAT project\n\nThis file represents the OpenAPI 3.0 specification of the [RAT WADe Project Test API](https://profs.info.uaic.ro/~busaco/teach/courses/wade/projects/index.html) of Fall 2021 made by Cioata Matei-Alexandru, Lipan Radu-Matei, Rezmerita Mihnea-Ioan. The API described below serves for testing purposes and helps creating a proof of concept for the RAT project.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://wade-bugs-cats-weapons-crbqcods.ew.gateway.dev"
    }
  ],
  "paths": {
    "/feline": {
      "get": {
        "tags": [
		  "cats"
        ],
        "summary": "Lists all felines with specified filters",
        "operationId": "felinesQuery",
		"parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "feeling",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "color",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "muscle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "members",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-google-backend": {
          "address": "https://europe-west1-avid-airway-337117.cloudfunctions.net/bugsCatsWeapons"
        }
      },
      "put": {
        "tags": [
          "cats"
        ],
        "summary": "Replaces and existing feline with another one.",
        "operationId": "felinesPut",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FelineRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-google-backend": {
          "address": "https://europe-west1-avid-airway-337117.cloudfunctions.net/bugsCatsWeapons"
        },
        "x-codegen-request-body-name": "body"
      },
	  "patch": {
        "tags": [
          "cats"
        ],
        "summary": "Update an existing feline's attributes.",
        "operationId": "felinesPatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FelineRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-google-backend": {
          "address": "https://europe-west1-avid-airway-337117.cloudfunctions.net/bugsCatsWeapons"
        },
        "x-codegen-request-body-name": "body"
      },
	  "delete": {
        "tags": [
          "cats"
        ],
        "summary": "Delete all felines with given attributes.",
        "operationId": "felinesDelete",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "feeling",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "color",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "muscle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "members",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-google-backend": {
          "address": "https://europe-west1-avid-airway-337117.cloudfunctions.net/bugsCatsWeapons"
        },
        "x-codegen-request-body-name": "body"
      },
      "options": {
        "tags": [
          "cats"
        ],
        "operationId": "catsOptions",
        "responses": {
          "204": {
            "description": "A successful response",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-google-backend": {
          "address": "https://europe-west1-avid-airway-337117.cloudfunctions.net/bugsCatsWeapons"
        }
      }
    },
	"/bug": {
      "delete": {
        "tags": [
		  "bugs"
        ],
        "summary": "Deletes all bugs with specified filters",
        "operationId": "bugsDelete",
		"parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "feeling",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "color",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
		  {
            "name": "members",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-google-backend": {
          "address": "https://europe-west1-avid-airway-337117.cloudfunctions.net/bugsCatsWeapons"
        }
      },
	  "options": {
        "tags": [
          "bugs"
        ],
        "operationId": "bugsOptions",
        "responses": {
          "204": {
            "description": "A successful response",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-google-backend": {
          "address": "https://europe-west1-avid-airway-337117.cloudfunctions.net/bugsCatsWeapons"
        }
      }
    },
	"/weapon": {
      "post": {
        "tags": [
		  "weapons"
        ],
        "summary": "Creates a new weapon with specified attributes.",
        "operationId": "weaponsCreation",
		"requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WeaponRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-google-backend": {
          "address": "https://europe-west1-avid-airway-337117.cloudfunctions.net/bugsCatsWeapons"
        }
      },
      "put": {
        "tags": [
          "weapons"
        ],
        "summary": "Replaces and existing weapon with another one.",
        "operationId": "weaponsPut",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WeaponRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-google-backend": {
          "address": "https://europe-west1-avid-airway-337117.cloudfunctions.net/bugsCatsWeapons"
        },
        "x-codegen-request-body-name": "body"
      },
      "options": {
        "tags": [
          "weapons"
        ],
        "operationId": "weaponsOptions",
        "responses": {
          "204": {
            "description": "A successful response",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-google-backend": {
          "address": "https://europe-west1-avid-airway-337117.cloudfunctions.net/bugsCatsWeapons"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FelineRequestBody": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "feeling": {
            "type": "string"
          },
		  "color": {
			"type": "string"
		  },
		  "muscle": {
			"type": "string"
		  },
		  "members": {
			"type": "string"
		  }
        }
      },
	  "BugRequestBody": {
		"type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "feeling": {
            "type": "string"
          },
		  "color": {
			"type": "string"
		  },
		  "members": {
			"type": "string"
		  }
        }
	  },
	  "WeaponRequestBody": {
		"type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "force": {
            "type": "string"
          },
		  "color": {
			"type": "string"
		  }
        }
	  },
	  "GenericResponse": {
		"type": "object",
		"properties": {
		  "message": {
			"type": "string"
		  }
		}
	  },
      "Dictionary": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "X-API-Key",
        "in": "header"
      }
    }
  }
}